<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/d3.v2.9.6.min.js"></script>
    <style type="text/css">

svg {
  font-family: "Helvetica Neue", Helvetica;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

    </style>
  </head>
  <body>

<%= yield %>

  </body>
</html>
